In [10]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [7]:
# read data
df_train = pd.read_csv("data//aug_train.csv")
df_test = pd.read_csv("data//aug_test.csv")
df_train.head(3)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0

In [6]:
# missing values
df_train.isnull().sum()/df_train.shape[0]

enrollee_id               0.000000
city                      0.000000
city_development_index    0.000000
gender                    0.235306
relevent_experience       0.000000
enrolled_university       0.020148
education_level           0.024011
major_discipline          0.146832
experience                0.003393
company_size              0.309949
company_type              0.320493
last_new_job              0.022080
training_hours            0.000000
target                    0.000000
dtype: float64

In [11]:
def label_encode(train, test):
    label_dict = {}
    
    for column in ['city', 'gender', 'relevant_experience', 'education_level', 'major_discipline', 
                   'experience', 'company_size', 'company_type', 'last_new_job', 'training_hours']:
        le = LabelEncoder()
        le.fit(train[column])
        
        label = le.classes_.tolist()
        label_dict[column] = label
        
        train[column] = le.transform(train[column])
        test[column] = le.transform(test[column])
    return train, test, label_dict

df_train, df_test, label_dict = label_encode(df_train, df_test)

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

# Predict the probability of an candidate looking for a new job